h1 {color:#BD5FDB;text-align: center}
body {font-family: Garamond, serif;font-size: 18px}
h2{text-decoration-line: underline; text-decoration-color:#BD5FDB}
table.special { text-align: center; width:100%}
th.special:hover {color: #BD5FDB;}
td {vertical-align: top}
